/*Styling for Products.*/
/*Note that some of these styles will be applicable to other pages*/

/*Style for Products. Might need to rename body to avoid future conflicts*/
body {
    font-family: sans-serif;
    margin: 0;

    /*Changes background to #ddd*/
    background-color: #ddd;
}

header {
    background-color: #96eaa4;
    padding: 8px;
    color: #fff;
    display: flex;
    align-items: center;
}

.main {
    text-align: center;
}

.logo {
    max-width: 100px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.barnav {
    background-color: #96eaa4;
    padding: 20px;
    text-align: center;
}

.barnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.barnav li {
    display: inline;
    padding: 10px;
    margin-right: 20px;
}

.barnav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.prod {
    width: 35%;
    /*Adds padding of 20px and margin of 20px*/
    margin: 20px;
    padding: 20px;
    left: 50%;
    border: 1px solid #ddd;
    border-radius: 7px;
    text-align: center;
    display: inline-block;
    flex: row;

    /*Makes the background color light gray*/
    background-color: #f9f9f9;
}

.prod img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.prod h2 {
    margin-top: 10px;
}

.prod p {
    color: #666;
}

.cart {
    background-color: #65e14cab;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart:hover {
    background-color: #4ca36b;
}

/*Code for Making Product List Adaptable.*/
/* Add a media query for screens smaller than 768px */
@media (max-width: 768px) {
    .prod {
        width: 100%; /* Change width to 100% for smaller screens */
        margin: 10px auto; /* Center align on smaller screens */
        padding: 20px; /* Decrease padding for smaller screens */
    }
}

footer {
    background-color: #333;
    padding: 40px;
    color: #fff;
    text-align: center;
    bottom: 0;
    position: relative;
    font-size: 15px;
}
